.header-container {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.movies-app-logo {
  height: 35px;
  background: #ff7f7f;
  animation: rotate-logo infinite 8s linear;
}

@keyframes rotate-logo {
  from {
    transform: scaleX(-1);
  }
}

.login-logout-button {
  float: right;
}

.book-show-button {
  float: right;
  margin-right: 15px;
}

.error-message {
  color: red;
}

.tabs-container {
  margin-bottom: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.success-toast-message {
  color: green;
}
